/* Style globaux */

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h2,
h3 {
  color: #243a4f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Header styles */
header {
  color: #ffcbc6;
  background: #fe866e;
  background: linear-gradient(
    90deg,
    rgba(254, 134, 110, 1) 50%,
    rgba(255, 92, 97, 1) 100%
  );
  height: 600px;
  padding: 3rem 10rem;
  border-bottom-left-radius: 100px;
  position: relative;
  overflow: hidden;
}

header nav {
  font-weight: bold;
  display: flex;
  gap: 5rem;
  align-items: center;
}

header nav img {
  align-self: center;
}

header nav .right-icons {
  position: absolute;
  z-index: 5;
  top: 3.6rem;
  left: 25.2rem;
}

header nav .right-icons img {
  margin-right: 6.5rem;
}

header nav .right-icons img:last-child {
  margin-left: -0.8rem;
}

header nav .nav-links {
  display: flex;
  gap: 3rem;
}

header nav .nav-links a:hover {
  text-decoration: underline;
}

header .connect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
}

header .connect a {
  text-decoration: none;
  color: #ffcbc6;
}

header .connect a {
  color: #ffffff;
}

header .connect a:nth-of-type(2) {
  background: #ffffff;
  color: rgb(255, 84, 93);
  padding: 0.7rem 2rem;
  border-radius: 22px;
}

header .connect a:nth-of-type(2):hover {
  color: #ffffff;
  background: rgba(255, 84, 93, 0.9);
}

header .cta {
  position: relative;
  z-index: 2;
}

header .cta h1 {
  color: #ffffff;
  padding-top: 6rem;
  font-size: 4rem;
}

header .cta p {
  margin-top: -2.5rem;
  font-size: 1.2rem;
}

header .cta h1,
header .cta p,
header .connect a {
  text-shadow: 1px 1px 1px gray;
  text-align: center;
}

header .cta-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
}

header .cta-buttons button {
  border: 1px solid #ffffff;
  padding: 1rem 2rem;
  background: none;
  color: #ffffff;
  border-radius: 22px;
  font-size: 1.2rem;
}

header .cta-buttons button:nth-of-type(1) {
  background: #ffffff;
  color: #ff545d;
}

header .bg-image {
  position: absolute;
  width: 100%;
  top: -80rem;
  left: -12rem;
  z-index: 1;
}

/* Features section */

#features {
  position: relative;
}

#features h2 {
  text-align: center;
  position: absolute;
  top: 10rem;
  left: 38%;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem 10rem;
  position: relative;
  overflow: hidden;
  gap: 40rem;
}

.features img {
  margin-right: -16rem;
}

/* Infrastructure section */

#infrastructure {
  position: relative;
  background: #3a3b59;
  height: 400px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

#infrastructure .pattern-circle {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#infrastructure .pattern-circle img {
  width: 50%;
  position: absolute;
  margin-left: -14rem;
  top: -30rem;
}

#infrastructure .app-preview {
  position: absolute;
  z-index: 2;
  left: 4rem;
  top: -4rem;
}

#infrastructure .infra-text h2 {
  color: white;
}

#infrastructure .infra-text {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  max-width: 600px;
  color: white;
  top: 25%;
  right: 15%;
}

/* About section */
#about {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-left: -17rem;
  gap: 20rem;
}

#about .about-text {
  max-width: 600px;
}

/* Footer */

footer {
  margin-top: 2rem;
  background: #24242c;
  border-top-right-radius: 100px;
  display: flex;
  padding: 3rem 10rem;
  color: #ffffff;
  align-items: center;
  gap: 15rem;
}

footer img {
  align-self: flex-start;
}

footer .categories {
  display: flex;
  gap: 20rem;
}

.footer .categories .category {
  display: flex;
  flex-direction: column;
}

.category p {
  font-weight: bolder;
}
